<%-include("headdercomm.ejs")-%>

<nav class="navbar navbar-dark bg-dark" style="background-color:blue!important;">
  <div class="none-mobile-view-dp">
  <div class="row">
                <a class="nav-link" href="/listcommunities"><i class="fas fa-users"></i></a>
                <a class="nav-link" href="/searchcommunities"><i class="fas fa-search"></i><span class="sr-only">(current)</span></a>
        </div>
   </div>
  </nav>
<div class="container " style="margin-top: 20px">
       <nav class="navbar navbar-dark bg-dark" style="background-color:blue!important;">
              <div class="none-mobile-view-dp">   
                   <a class="nav-link" href="/createcommunity" style="height: 40px; float :right!important"><i class="fas fa-plus-circle">&nbsp;Create</i></a>
              </div>
        </nav>
        <div class="container-fluid allSides">
               <table>
                    
               </table>
        </div>
</div>


<%-include("footercomm.ejs")-%>