<%-include("headdercomm.ejs")-%>
<div class="container">
  <div class="row">  
        <div class="container allSides col-sm-6" style="margin-top: 20px">
          <%-incorect-%>
            <form action="/createcommunity" method="post">
            <div class="col-sm-12">
                    <h2>Create community</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="name" required/>
                    </div><br>
                    <div class="form-group">
                    <input type="hidden" name="discription" vlaue="" id="desc">
                    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

                            <!-- Create the editor container -->
                            <div id="editor" style="height: 200px">
                               
                            
                            </div>

                            <!-- Include the Quill library -->
                            <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

                            <!-- Initialize Quill editor -->
                            <script>
                                var quill = new Quill('#editor', {
                                    theme: 'snow',
                                    placeholder:"add Discription hear",
                                });
                                let desc=document.getElementById("desc");
                                quill.on("text-change" ,()=>
                                {
                                    var text=quill.getText();
                                    desc.value=text;
                                })
                            </script>
                        </div>
                        
                    <div class="form-group">
                        <label>Community Type:</label>
                            <select data-style="btn-info" name="type" class="form-control" >
                                <optgroup label="Select Community type">
                                       <option value="public">public</option>
                                       <option value="private">private</option>
                                </optgroup>
                            </select>
                            </div><br>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success">
                            <a value="Add User" class="btn btn-danger" href="/home">Cancel</a>
                        </div>
            </div>
        </form>
     </div>
  </div> 
</div>

<%-include("footercomm.ejs")-%>