<%-include("headder")-%>
<div class="container">
  <div class="row">  
        <div class="container allSides col-sm-6">
          <%-incorect-%>
            <form action="/changepassword" method="post">
            <div class="col-sm-12">
                    <h2>Change Password</h2>
                    <div class="form-group">
                    <label>Old Password:</label>
                        <input type="password" class="form-control" name="oldpass" placeholder="old password" required/>
                    </div><br>
                    <div class="form-group">
                     <label>New Password:</label>
                        <input type="password" class="form-control" name="newpass" placeholder="new password"/>
                    </div><br>
                    <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-success">
                            <a value="Add User" class="btn btn-danger" href="/home">Cancel</a>
                        </div>
               </form>
            </div>
        </div>
     </div> 
</div>  
<%-include("footer")-%>>