<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/7edbd168b7.js"></script>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
          <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
                     <style>
                     .allSides
                {
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
                -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
                -o-box-shadow: 0 0 10px rgba(0,0,0,0.1);
                }
               
  </style>
    </head>
<body style="zoom: 1;">
	
<nav class="navbar navbar-dark bg-dark">
  <div class="none-mobile-view-dp">
    <a class="navbar-brand" href="/home" style="font-color:blue">Cq</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/adduser">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/userlist">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/switchasuser">Switch As User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/changepassword">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      </ul>
      </div>
  </div>
  <div class="none-mobile-view-dp"> 
    <img src="<%=img%>" style="height: 40px; float:right" class="profilePic"> 
   <span class="badge badge-success" style="float:right;margin-top:20px;"><%=role%></span>
    <span class="badge badge-warning" style="margin-top:20px;float:right"><%=name%></span> 
   </div>
  </nav>